.news {
  display: flex;
  width: 100%;
  padding: $gap-sm;
  border-top: 3px solid #000000;

  & .glide {
    position: relative;
    margin-top: -$animation-offset;

    &__slides {
      padding-top: $animation-offset;
    }

    &__bullets {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__bullet {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 50%;
      background-color: $gray-light;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      &--active {
        background-color: $main-color;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .news {
    padding: $gap-md;
  }
}

@media screen and (min-width: $screen-md) {
  .news {
    .glide {
      &__track {
        height: max-content;
        overflow: visible;
      }

      &__slides {
        display: flex;
        flex-flow: row wrap;
        width: 100% !important; /* stylelint-disable-line  declaration-no-important */
        transform: initial !important; /* stylelint-disable-line  declaration-no-important */
      }

      &__slide {
        width: calc((100% - (#{$gap-md} * 2)) / 3);

        &:not(:nth-of-type(3n)) {
          margin-right: $gap-md;
        }

        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12) {
          display: none;
        }
      }

      &__bullets {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .news {
    width: 100%;
    margin: 0 auto;
    padding: calc(#{$gap-xl} - #{$animation-offset}) $gap-lg 0;

    .glide {
      &__slide {
        width: calc((100% - (#{$gap-lg} * 3)) / 4);

        &:not(:nth-of-type(3n)) {
          margin-right: 0;
        }

        &:not(:nth-of-type(4n)) {
          margin-right: $gap-xl;
        }

        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12) {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .news {
    width: $screen-xl;
    margin: 0 auto;
    padding: calc(#{$gap-xl} - #{$animation-offset}) 0 0;

    .glide {
      &__slide {
        width: calc((#{$screen-xl} - (#{$gap-xl} * 3)) / 4);
      }
    }
  }
}
