.page {
  font-family: $font-family;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    height: 100%;
  }
}
