-
  const NewsItems = [
    {
      tag: 'Конституционное право',
      title: 'Адвокатов наказали за\00A0конфликт ',
      text: 'Одним из\00A0новых заместителей Александра Коновалова стал Денис Новак, до\00A0последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.',
      date: '26 Августа',
      img: '01.png',
    },
    {
      tag: 'Закон и\u00A0порядок',
      title: 'Упущены значимые правовые категории',
      text: 'Федеральная палата адвокатов оперативно подготовила предложения по\u00A0изменению УПК\u00A0РФ во\u00A0исполнение требований Президента изменить порядок заключения и\u00A0содержания под стражей предпринимателей',
      date: '26 Августа',
      img: '02.png',
    },
    {
      tag: 'Этика общения адвокатов',
      title: 'Диалог адвокатуры и\u00A0следствия',
      text: 'Главное управление МВД столицы обратилось в\u00A0АП г.\u00A0Москвы с\u00A0просьбой организовать явку представителей палаты для проведения обыска в\u00A0жилище адвоката.',
      date: '26 Августа',
      img: '03.png',
    },
    {
      tag: 'Закон и порядок',
      title: 'Упущены значимые правовые категории',
      text: 'Федеральная палата адвокатов оперативно подготовила предложения по\u00A0изменению УПК\u00A0РФ во\u00A0исполнение требований Президента изменить порядок заключения и\u00A0содержания под\u00A0стражей предпринимателей',
      date: '26 Августа',
      img: '04.png',
    },
  ]
