// 1. Colors ===========================================================================================================

$main-color:          #b2544f;
$warning-color:       #fdc05d;

$white-color:         #ffffff;

$gray-light:          #9e9e9e;
$gray-medium:         #7b7b7b;
$gray-dark:           #231f20;

$text-color:          $gray-medium;

$transparent-color:   rgba(255, 255, 255, 0);

// 2. Typography  ======================================================================================================

$font-family:         NotoSans, Arial, 'Helvetica Neue', sans-serif;
$font-size:           15px;
$line-height:         1.46;

// 3. Grid / Screen ====================================================================================================

$gap-sm:              20px;
$gap-md:              30px;
$gap-lg:              50px;
$gap-xl:              50px;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           1024px;
$screen-lg:           1200px;
$screen-xl:           1440px;

// 4. Misc =============================================================================================================

$animation-offset:    10px;
